/* ************** gray theme css for BADAH document **************** */

/* BADAH-Viewer css */

.viewer header {
  background-color: rgb(155, 155, 155);
}

.viewer h1 {
  background-color: rgb(211, 211, 211);
}

.viewer .tab:hover {
  background-color: rgb(153, 153, 153);
}

.viewer .tab.selected {
  background-color: rgb(124, 124, 124);
}

/* custom document css */

.badah.header {
  background-color: rgb(241, 241, 241);
}

.badah.action-btn {
  background-color: rgb(155, 155, 155);
}

/* exist reverb css  */

.ww_skin_toolbar_background_default {
  background: rgb(224, 224, 224);
}

.ww_skin_toc_entry_selected:hover,
.ww_skin_toolbar_button_enabled:hover,
.ww_skin_toolbar_background_selected:hover,
.ww_skin_toc_entry:hover{
  background: rgb(153, 153, 153);
}
 
.ww_skin_toolbar_background_selected,
.ww_skin_toc_entry_selected {
  background: rgb(124, 124, 124);
}

/* exist reverb css - inner iframe  */

.WebWorks_MiniTOC_Heading {
  background: rgb(224, 224, 224) !important;
}

div.WebWorks_MiniTOC_Entry:hover {
  background: rgb(153, 153, 153) !important;
}
