/* *************** red theme css for BADAH document **************** */

/* BADAH-Viewer css */

.viewer header {
  background-color: rgb(29, 119, 29);
}

.viewer h1 {
  background-color: rgb(76, 190, 76);
}

.viewer .tab.selected {
  background-color: rgb(16, 92, 16);
}

/* custom document css */

.badah.action-btn {
  background-color: rgb(29, 119, 29);
}

/* exist reverb css  */

.ww_skin_toolbar_background_default {
  background: rgb(124, 189, 124);
}
