/* ************** green theme css for BADAH document *************** */

/* BADAH-Viewer css */

.viewer header {
  background-color: rgb(188, 148, 148);
}

.viewer h1 {
  background-color: rgb(165, 61, 61);
}

.viewer .tab.selected {
  background-color: rgb(77, 2, 2);
}

/* custom document css */

.badah.header {
  background-color: rgb(252, 230, 230);
}

.badah.action-btn {
  background-color: rgb(126, 3, 3);
}

/* exist reverb css  */

.ww_skin_toolbar_background_default {
  background: rgb(200, 92, 92);
}

.ww_skin_toc_entry_selected:hover,
.ww_skin_toolbar_button_enabled:hover,
.ww_skin_toolbar_background_selected:hover,
.ww_skin_toc_entry:hover {
  background: rgb(189, 72, 72);
}
 
.ww_skin_toolbar_background_selected,
.ww_skin_toc_entry_selected {
  background: rgb(77, 2, 2);
}

/* exist reverb css - inner iframe  */

.WebWorks_MiniTOC_Heading {
  background: rgb(200, 92, 92) !important;
}

div.WebWorks_MiniTOC_Entry:hover {
  background: rgb(189, 72, 72) !important;
}