
.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: none;
}

main {
  flex: 20;
  border-bottom: 1px solid #e8e8e8;
}

footer {
  flex: 1;
}